.main_header {
    height: 50px;
    width: 100%;
    background: #555; 
}

.box{
    height: 90vh;
    width: 25%;
    background: #999;
    float: left;
}
.middle{
    width: 50%;
    background: lightseagreen;
}
